$border-radius: 0.25rem;
$dark-theme: false;
$primary: #5d3e9c;
$secondary: #58456c;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-text: #e2e0e0;
$body-bg: #101010;
$headings-text: #a08caf;
$subtle-text: #b6b6b6;
$disabled-text: #8f8f8f;
$component-text: #b1b0b0;
$component-bg: #1f1f1f;
$base-text: #bdaec2;
$base-bg: #2a1538;
$hovered-text: #50218a;
$hovered-bg: #694e83;
$selected-text: #ffffff;
$selected-bg: #838383;
$kendo-button-text: #212529;
$kendo-button-bg: #e4e7eb;
$link-text: #ba87e1;
$link-hover-text: #6a0aca;
$series-a: #bf99f8;
$series-b: #6f42c1;
$series-c: #9c98e3;
$series-d: #801987;
$series-e: #ae55ce;
$series-f: #d16dca;

@import "~@progress/kendo-theme-bootstrap/dist/all.scss";