$base-theme:Bootstrap;
$skin-name:GIFBotPurple;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #5d3e9c;
$secondary: #a985cf;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #262626;
$body-color: #e5e5e5;
$component-bg: #2c2241;
$component-color: #e5e5e5;
$card-cap-bg: #221a33;
$card-cap-color: #ccc5e4;
$series-a: #5d3e9c;
$series-b: #d94fb2;
$series-c: #4ae6a5;
$series-d: #4eb5f0;
$series-e: #e64a5c;
$series-f: #d9924f;
